{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>SnapPass</h1></div>
    <form id="password_create" method="post">
    <div class="control-group">
      <textarea class="input-xxlarge" name="data" rows=3 autofocus="True" placeholder="Share Data"></textarea>
    </div>
    <div class="control-group">
      <select name="ttl">
        <option>Week</option>
        <option>Day</option>
        <option>Hour</option>
      </select>
      <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </div>
    </form>
    <h3>Using this tool</h3>
      <p>This tool allows us to share data in a secure way. Submit data
         and a time to live. The data will be stored as long as time to live 
	 (default one week). The data can only be read once. Once somebody 
	 reads the data it is automatically removed from the system.
      </p>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
